*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #FDFAD9;
}

h1{
    background-color: #6256CA;
    color: #fff;
    height: 5rem;
    line-height: 5rem;    
}
.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    border: black 10px;

} 
img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;

}
.choice :hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease;
    background-color: black;
}

.scoreboard{
    display: flex;
    justify-content: center;
    margin: 2rem;
    font-size: 1.5rem;
    margin-top: 3rem;
    gap: 5rem;
}

#userscore ,
#compscore {
    font-size: 4rem;
}

.msgcont{
    margin-top: 5rem;
}

#msg{

    margin-top: 2rem;
    display: inline;
    font-size: 2rem;
    background-color:#86D293 ;
    padding: 1rem;
    border-radius: 10px;
}